/* global styles start */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* text global styles */
  --title-font: 400 36px/48px 'Francois One', sans-serif;
  --text-font: 400 28px/normal 'PT Sans', sans-serif;
  --text-font-sups: 300 30px/normal 'Farro', sans-serif;
  --text-font-header-link: 400 22px 'Staatliches', sans-serif;
  --text-font-header-language-togle: 600 22px 'Tourney', sans-serif;
  /* text global styles */
  --white-color: #fff;
  --gray-color: #E0E0E0;
  --black-color: #000;
  --gray-border-color: #BDBDBD;
}


.wraper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.invisible_div {
  position: relative;
  height: 80px;
}

.container_for_aside_and_main {
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-top: 80px;
}

.main {
  max-width: 785px;
}

.aside {
  position: -webkit-sticky;
  position: sticky;
  /* margin-top: 40px; */
  max-width: 370px;
  top: 100px;
  /* bottom: 0; */
}

.bg_img {
  position: fixed;
  top: 170px;
  right: 0;
  z-index: -1;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

h2 {
  font: var(--title-font);
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.sups {
  font: var(--text-font-sups);
}

p {
  font: var(--text-font);
}

/* global styles end */


/* header start */
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 80px;
  top: 0px;
  left: 0px;
  background-color: var(--white-color);
  padding: 20px 0 30px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links {
  display: flex;
  gap: 10px;
}

.header__link {
  font: var(--text-font-header-link);
}

.language_togle {
  font: var(--text-font-header-language-togle);
  margin-right: 50px;
  transition: all 0.6s ease-in-out;
}

.language_togle:hover {
  display: none;
}

.header__logo {
  max-width: 238px;
  max-height: 54px;
}

/* header end */

/* aside start */
.aside__container {
  position: sticky;
}

.aside__item {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray-border-color);
  margin-bottom: 70px;
}

/* aside end */

/* main start */
.main__title {
  padding-top: 20px;
}

.chapter {
  margin-bottom: 70px;
}

.chapter3,
.chapter4 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* main end */